.movie__poster__display {
    width: 280px;
    height: 480px;
    border-radius: 12px;
    background-color: rgb(241, 239, 235);   
    box-shadow: 0 18px 53px 0 rgb(0 0 0 / 20%);
    cursor: pointer; 
}

.movie__poster__display img {
    width: 100%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.movie__poster__vote {
    top: -84%;
    left: 4.8%;
    border-radius: 50%;
    width: 33px;
    height: 30px;
    padding: 0px 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 16px Arial, sans-serif;
    position: relative;
    padding-top: 12px;
}

.movie__poster__name {  
    top: -5.5%;
    padding: 0px 4px;
    color: #666;
    text-align: center;
    font: 16px Arial, sans-serif;
    position: relative;
    padding-bottom: 15px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .movie__poster__display {
        margin-left: 6%;
        height: 60vh;
    }
    .movie__poster__display img {
        height: 88%;
    }
    .movie__poster__name {  
        top: -8%;
    }
}